@{
    ViewData["Title"] = "PoolMatch";
}

<section>
    <h1 class="p-sm-4">
        <span style="color: #223D14; font-weight: bold;">Pool</span>Match
    </h1>
    <p class="text-center h4">je</p>
    <br />
    <p class="text-center">
        ...projekt vytvořený k úspěšnému složení závěrečné zkoušky pro akreditovaný
        školící portál <strong>ITnetwork.cz</strong>. Je dost možné, že samotná aplikace bude časem
        sloužit jako pouhá součást většího projektu webové aplikace billiardového
        kroužku. Aplikaci bude chybět například výběr her mezi 8ball a 9ball nebo třeba
        zaplacení vstupního poplatku, ale na to si budeme muset počkat.
    </p>
    <div class="row text-center">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-body doprostred">
                    <h2 class="card-title">TURNAJ</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6">
            <a asp-area="" asp-controller="Hraci" asp-action="Index" class="card">
                <div class="card-body doprostred">
                    <h2 class="card-title">HRÁČI</h2>
                </div>
            </a>
        </div>
    </div>
</section>

